
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, button, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei";font-size:12px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    font-family: "Microsoft YaHei";
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}

ul, ol, li {
    list-style: none;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

abbr, acronym {
    border: 0;
    font-variant: normal;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

input, textarea, select {
    *font-size: 100%;
    outline: 0;
    border: 0;
}

a {
    text-decoration: none;
}

button, textarea {
    outline: 0;
    border: 0;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
}

.fn-clear:after {
    visibility: hidden;
    display: table;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
}

#down-container {
    overflow: hidden;
    background: rgb(238, 241, 245);
}

.orange-color {
    color: #12a4ff !important;
}
.sbg{background-image:url(../images/icon_20181025.png);background-repeat:no-repeat;}
.ns_t2{width:100%;height:96px;background:#1e222d;}
.t2c{width:1200px;height:60px;margin:0 auto;padding-top:18px;}
.t2c_l{width:200px;height:60px;float:left;}
.t2c_l a{width:155px;height:45px;background-position:-82px 0;display:block;margin-top:8px;text-indent:-9999px;}
.t2c_c{width:670px;height:60px;float:left;}
.t2c_r{width:311px;height:60px;float:right;}
.t2c_r_t{width:311px;height:29px;background-position:-1px -104px;margin-top:4px;}
.t2c_r_t .soinput{width:170px;height:27px;line-height:27px;float:left;margin:1px 0 1px 10px;display:inline;color:#37404c;background:transparent;outline:none;}
.t2c_r_t .sobutton{width:50px;height:27px;line-height:27px;float:left;margin:1px 0 1px 1px;display:inline;background:transparent;color:#737e91;cursor:pointer;}
.t2c_r_t .msobutton{width:70px;height:27px;line-height:27px;float:left;margin:1px 0 1px 1px;display:inline;background:transparent;color:#737e91;cursor:pointer;text-align:left;text-indent:7px;}
.t2c_r_f{width:311px;height:27px;line-height:31px;overflow:hidden;}
.t2c_r_f a{margin:0 5px;}
.t2c_r_f a:link{color:#737e91;}
.t2c_r_f a:visited{color:#737e91;}
.t2c_r_f a:hover{color:#ff6600;}
.t2c_r_f a:active{color:#737e91;}
.ns_t3{width:100%;height:44px;background:#222a35;}
.t3c{width:1200px;height:44px;margin:0 auto;position:relative;}
.t3c li{width:99px;height:44px;line-height:44px;float:left;font-size:16px;text-align: center;}
.t3c li a:link{color:#b1bcce;}
.t3c li a:visited{color:#b1bcce;}
.t3c li a:hover{color:#ff6600;}
.t3c li a:active{color:#b1bcce;}
.t3c li.sline{width:1px;}
.t3c li.hover{width:93px;height:40px;line-height:36px;border-top:#12a4ff 4px solid;}

/*分页*/

.page-container {
    height: 30px;
    line-height: 30px;
    text-align: center !important;
    margin: 10px auto;
    clear:both;
    font-size: 14px;
    color: #888888;
}

.page-container a {
    padding: 4px 9px;
    font-size: 12px;
    color: #888888;
    background: white;
    border: 1px solid #a0a0a0;
    cursor: pointer;
    border-radius:3px;
    margin:0 2px;
}

.page-container a:hover,
.page-container a.checked {
    color: white;
    font-weight: bold;
    background: #12a4ff;
    border-color: #12a4ff;
}

.page-container .page-prev,
.page-container .page-next {
    padding: 4px 10px;
}

.page-container .page-first,
.page-container .page-last {
    padding: 4px 10px;
}
.page-container span{
    margin:0 28px;
    display:inline-block;
    font-size: 14px;
    color: #888888;
}
.page-container input{
    width:40px;
    border-radius: 2px;
    border: solid 1px #cccccc;
    text-align: center;
    color:#888888;
    margin:0 8px;
}
.page-container button{
    padding:4px 12px;
    font-size: 12px;
    color: #888888;
    background: white;
    border: 1px solid #a0a0a0;
    cursor: pointer;
    margin: 0 3px;
    border-radius: 3px;
}
.page-container button:hover{
    color: white;
    font-weight: bold;
    background: #12a4ff;
    border-color: #12a4ff;
}
.page-jump{
    display:inline-block;
}

.Ali_down {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    padding-top: 4px;
    text-align: left;
}
.detail_body {
    width: 100%;
    height: auto;
    float: left;
    padding-top: 6px;
}
.detail_body_left_title {
    width: 100%;
    height: 29px;
    border-bottom: 1px solid #CCC;
    line-height: 30px;
    text-indent: 8px;
}
.detail_body_left_title .nydaohang {
    float: left;
}
.detail_body_heji {
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.nydaohang a:link{color:#000;}
.nydaohang a:visited{color:#000;}
.nydaohang a:hover{color:#f60;}
.nydaohang a:active{color:#000;}
.detail_body_heji_one {
    width: 229px;
    height: 142px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    display: inline;
}
.detail_body_heji_one a:link {
    width: 229px;
    height: 142px;
    background: #ecebeb;
    display: block;
}
.detail_body_heji_one a:visited {
    width: 229px;
    height: 142px;
    background: #ecebeb;
    display: block;
}
.detail_body_heji_one a:hover {
    width: 229px;
    height: 142px;
    background: #27282c;
    display: block;
    color: #fff;
}
.detail_body_heji_one a:active {
    width: 229px;
    height: 142px;
    background: #ecebeb;
    display: block;
}
.detail_body_heji_one img {
    width: 221px;
    height: 100px;
    padding: 4px;
}
.detail_body_heji_one span {
    width: 221px;
    height: 26px;
    line-height: 26px;
    padding: 4px;
    overflow: hidden;
    text-align: center;
    display: block;
}
.hjinfo {
    width: 100%;
    height: 264px;
    margin: 0 auto;
    background: url(../images/hejibg.jpg) no-repeat;
    background-size:cover;
}
.hjinfo_info {
    width: 400px;
    height: 264px;
    float: left;
    margin-left: 30px;
    display: inline;
}
.hjinfo_tit {
    width: 400px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    color: #ff6600;
    margin-top: 34px;
}
.hjinfo_con {
    width: 400px;
    height: 150px;
    line-height: 25px;
    overflow: hidden;
    color: #fff;
}
.hjinfo_pic {
    width: 560px;
    height: 264px;
    float: right;
}
.hjinfo_pic img {
    width: 400px;
    height: 180px;
    padding: 42px 60px;
}
.hjgame {
    width: 1198px;
    height: auto;
    border: #ccc 1px solid;
    padding-bottom: 10px;
    display: table;
}
.hjgame_one {
    width: 170px;
    height: 360px;
    float: left;
    margin-left: 25px;
    margin-top: 10px;
    display: inline;
    position: relative;
}
.hjgame_one a {
    width: 170px;
    height: 266px;
    display: block;
    background: #ecebeb;
}
.hjgame_one img {
    width: 158px;
    height: 210px;
    padding: 6px;
}
.hjgame_one span {
    width: 158px;
    height: 30px;
    display: block;
    position: absolute;
    left: 6px;
    top: 186px;
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.5);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#7f000000, endColorstr=#7f000000);
    zoom: 1;
}
.hjgame_one span h3 {
    width: 110px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    overflow: hidden;
    float: left;
}
.hjgame_one span em {
    width: 48px;
    height: 30px;
    line-height: 30px;
    float: right;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    font-weight: bold;
    color: #ff6600;
    text-align: center;
}
.hjgame_one font {
    width: 116px;
    height: 26px;
    line-height: 26px;
    display: block;
    background: #ff5c4a;
    color: #fff;
    margin-top: 6px;
    margin-left: 27px;
    text-align: center;
    font-size: 14px;
}
.hjgame_one i {
    width: 168px;
    height: 22px;
    border: #ecebeb 1px solid;
    border-bottom-width: 0;
    background: url(../images/xjtgray.png) no-repeat 27px 0;
    display: inline-block;
}
.hjgame_one p {
    width: 158px;
    height: 60px;
    border: #ecebeb 1px solid;
    border-top-width: 0;
    padding: 5px;
    line-height: 20px;
    overflow: hidden;
    display: inline-block;
}
.hjgame_one:hover a {
    background: #27282c;
}
.hjgame_one:hover i {
    border: #27282c 1px solid;
    border-bottom-width: 0;
    background: url(../images/xjtblack.png) no-repeat 27px 0;
}
.hjgame_one:hover p {
    border: #27282c 1px solid;
    border-top-width: 0;
}

.Ali_down_foot{clear:both;width:100%;height:200px;background:#1e222d;color:#768b9c;}
.Ali_down_foot_con{width:1200px;height:120px;line-height:40px;margin:0 auto;padding:40px 0;text-align:center;}
.Ali_down_foot_con a:link{color:#768b9c;}
.Ali_down_foot_con a:visited{color:#768b9c;}
.Ali_down_foot_con a:hover{color:#ff6600;}
.Ali_down_foot_con a:active{color:#768b9c;}





/*分割线*/
.getsite_1200{width:1200px;margin:10px auto;}
.assort-container{width: 1194px;box-sizing: border-box;margin: auto;background-color: #eef1f5;box-shadow: 0px 2px 15px 1px rgba(108, 123, 144, 0.39);border-radius: 10px;padding: 1px 0;}
.list-type{position:relative;overflow:hidden;margin-top:20px;padding:0 10px}
.list-type .load-more.hide{display: none}
.list-type .load-more{position: absolute;top: 3px;right: 15px;width: 45px;height: 20px;cursor: pointer;color: #737FA2;line-height: 20px;}
.list-type .load-more:before{content: '';display: block;position: absolute;top: 2px;right: 0;width: 16px;height: 16px;background: url(../images/downlistshow.png);}
.list-type .load-more:hover{color: red;}
.list-type .load-more.checked:before{background: url(../images/downlisthide.png);}
.list-type p{float: left;width: 84px;text-align: center;font-size: 14px;height: 29px;line-height: 29px;color: #eef1f5;margin-right: 22px;background: url(../images/s_listbtn.png);}
.list-ul-box{margin:auto;font-size:0;width:1060px;float:left;border-bottom: 1px solid #dedede;padding-bottom: 13px;}
.list-ul{overflow: hidden;}
.list-ul > span {width: 120px;display: inline-block;height:28px;line-height: 28px;text-align:left;overflow:hidden;border-radius:14px;margin-bottom: 6px;font-size:0;margin-right: 8px;float: left;}
.list-ul span a{display: inline-block;height: 100%;color: #5a5a5a;font-size: 14px;padding: 0 12px;}
.list-ul a.checked,.list-ul a:hover{background-color: #5effe5;color: #3396dc;border-radius: 40px;font-weight: bold;}


.assort-result-container {
    height: 54px;
    box-sizing: border-box;
    padding: 14px 10px;
    width: 100%;
    margin-top: 4px;
    border-top: 1px solid #e2e2e2;
}

.assort-result-container .clear-all {
    height: 26px;
    line-height: 26px;
    float: left;
    text-decoration: underline;
    font-size: 14px;
    color: #3396dc;
    margin-left: 23px;
}

.assort-result-container .result-num {
    height: 26px;
    line-height: 26px;
    text-align: right;
    font-size: 12px;
    color: #888888;
    float: left;
}

.assort-result-container .result-num span {
    font-size: 16px;
    color: #3396dc;
}

.assort-result-container p {
    float: left;
    width: 74px;
    text-align: left;
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    color: #888888;
}

.assort-result-container .result-ul {
    margin: auto;
    font-size: 0;
    float: left;
    height: 26px;
    overflow: hidden;
}

.result-ul a {
    display: inline-block;
    height: 26px;
    box-sizing: border-box;
    line-height: 24px;
    font-size: 14px;
    color: #888888;
    border: 1px solid #3396dc;
    border-radius: 3px;
    padding: 0 3px 0 10px;
    margin-right: 5px;

}

.result-ul a span {
    color: #3396dc;
}

.result-ul a i {
    display: inline-block;
    width: 18px;
    height: 18px;
    background:url(../images/ico9.png) no-repeat;
    border-radius: 3px;
    font-size: 0;
    vertical-align: text-bottom;
}

.result-container {
    width: 1200px;
    background-color: #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 10px auto 0;
    padding: 5px 10px 20px 10px;
}

.sort-container {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #e2e2e2;
}

.sort-container a {
    height: 20px;
    line-height: 20px;
    float: left;
    margin-top: 10px;
    position: relative;
    font-size: 14px;
    color: #888888;
    margin-right: 24px;
    padding-right: 15px;
    cursor: pointer;
    display: block;
}

.sort-container a.active {
    font-weight: bold;
    color: #3396dc;
}
.sort-container a:before {
    content: "";
    position: absolute;
    display: block;
    width: 12px;
    top: 4px;
    right: -3px;
    height: 12px;
    background: url(../images/default.png) no-repeat;
}
.sort-container .active:before {
    background-image: url(../images/active.png);
}

.famous-ul-container {
    overflow: hidden;
    padding-left: 12px;
}

.famous-ul {
    width: 1200px;
    box-sizing: border-box;
    padding-top: 24px;
}

.famous-li {
    width: 158px;
    height: 270px;
    float: left;
    margin: 0 42px 20px 0;
    position: relative;
}

.famous-li img {
    width: 158px;
    height: 210px;
    border-radius: 8px;
    vertical-align: bottom;
}

.famous-li .game-lang {
    position: absolute;
    top: 5px;
    left: -3px;
    display: inline-block;
    padding: 0 5px;
    height: 19px;
    background-color: #3396dc;
    border-radius: 4px;
    text-align: center;
    line-height: 19px;
    font-size: 12px;
    color: #ffffff;
    z-index: 3;
}

.famous-li .game-type {
    position: absolute;
    bottom: 60px;
    height: 41px;
    background: linear-gradient(to top, black, transparent);
    line-height: 50px;
    text-align: center;
    width: 100%;
    color: #ffffff;
    font-size: 12px;
    border-radius: 0 0 8px 8px;
}

.famous-li .game-name {
    font-size: 14px;
    width: 100%;
    height: 32px;
    line-height: 32px;
    color: #666666;
    overflow: hidden;
    text-align: center;
}

.famous-li .hover-content {
    width: 158px;
    height: 210px;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    box-sizing: border-box;
    padding: 52px 0 0 14px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.content-a:hover .hover-content {
    display: block;
}

.famous-li .hover-content div {
    height: 14px;
    line-height: 14px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto 6px;
    font-size: 12px;
    color: #cccccc;
    box-sizing: border-box;
    padding-right: 7px;
}

.famous-li .hover-content div span {
    color: #ffffff;
}

.famous-li .hover-content p {
    height: 110px;
    width: 100%;
    overflow: hidden;
    font-size: 0;
}

.famous-li .hover-content p span {
    display: inline-block;
    font-size: 12px;
    padding: 2px 6px;
    color: #cccccc;
    border: 1px solid #cccccc;
    border-radius: 3px;
    margin: 0 6px 6px 0;
}

.famous-li .other-edition {
    display: none;
    width: 65px;
    height: 26px;
    border-radius: 4px;
    border: solid 1px #cccccc;
    text-align: center;
    line-height: 26px;
    font-size: 12px;
    color: #888888;
    vertical-align: bottom;
    float:left;
}

.famous-li .game-down {
    width: 156px;
    height: 26px;
    display: inline-block;
    border-radius: 4px;
    border: solid 1px #3396dc;
    line-height: 26px;
    text-align: center;
    font-size: 12px;
    color: #3396dc;
    overflow: hidden;
    vertical-align: bottom;
    float:right;
}

.famous-li .game-down:hover {
    background-color: #3396dc;
    color: white;
}
.downlistsearch{width: 1200px;height: 105px;margin: auto;background-image:url(../images/s_downhead.png)}
.downlistsearch div,.downlistsearch a{float: left;height: 52px;line-height: 52px;margin-top: 22px;}
.downlistsearch .t1{font-family: MicrosoftYaHei;font-size: 22px;font-weight: normal;font-stretch: normal;letter-spacing: 0px;font-weight: bold;color: #4b6281;width: 140px;text-align: center;margin-left: 27px;}
.downlistsearch .t2{margin-left: 20px;width: 515px;}
.downlistsearch .t2 input{background: transparent;width: 100%;height: 100%;box-sizing: border-box;padding-left: 25px;letter-spacing: 0px;color: #657d9d;font-size: 16px;}
.downlistsearch .t3{width: 58px;}
.downlistsearch .t3 input{width: 100%;height: 100%;background: transparent;cursor: pointer;}

.downlistsearch a{position: relative;padding-left: 20px;letter-spacing: 0px;color: #596c86;opacity: 0.93;font-size: 14px;margin-left: 25px;}
.downlistsearch a:before{content: '';display: block;position: absolute;top: 19px;left: 0px;width: 14px;height: 14px}
.downlistsearch a.t4:before{background-image:url(../images/s_ph.png)}
.downlistsearch a.t5:before{background-image:url(../images/s_sm.png)}
.downlistsearch a.t6:before{background-image:url(../images/s_yxk.png)}
