<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="javaMapperPackage" value="com.wanmait.ider.pojo" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/src" />
        <option name="javaModelPackage" value="com.wanmait.ider.pojo" />
        <option name="javaModelPath" value="$PROJECT_DIR$/src" />
        <option name="lastDatabaseCrudChooseModuleName" value="gamemvc" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="gamemvc">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.wanmait.ider.pojo" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/src" />
                  <option name="javaModelPacakge" value="com.wanmait.ider.pojo" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/src" />
                  <option name="xmlPackage" value="mapperxml" />
                  <option name="xmlPath" value="$PROJECT_DIR$/resoures" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="tableGenerateConfigs">
          <map>
            <entry key="gamemvc:ranking">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="Ranking" />
                  <option name="moduleName" value="gamemvc" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="xmlMapperPackage" value="mapperxml" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/resoures" />
      </ProjectProfile>
    </option>
  </component>
</project>